.checklist-section .section-head {
	max-width: 1180px;
}

.checklists {

	ul {

		display: flex;
		flex-wrap: wrap;

		li {
			padding-left: 56px;
			padding-top: 3px;
			margin-bottom: 40px;
			font-size: 22px;

			@include font(lato, bold);
			@include column(3 , 2%);

			&::before {
				top: 0;
				background-image: url(../img/checklist-icon.svg);
				background-position: left center;
				width: 36px;
				height: 36px;

			}
		}
	}
}
