.hero-section {
	&.hero-with-filter {
		padding: 100px 0 0;

		&.tl-shape {
			@media(max-width: 747px) {
				padding: 46px 0 0;
			}

			&::before {
				@media(max-width: 991px) {
					display: none;
				}
			}
		}

		.banner-text {
			max-width: 100%;

			.block-title {
				margin-bottom: 30px;

				@media(max-width: 747px) {
					margin-bottom: 24px;
				}
			}

			.hero-content-sub {
				margin: 0 auto 12px;
				max-width: 780px;

				p {
					@include font(lato, med);

					&:last-child {
						margin-bottom: 0;
					}

					br {
						@media(max-width: 747px) {
							display: none
						}
					}
				}
			}

			.hero-content {
				p {
					font-size: 15px;

					&:last-child {
						margin-bottom: 0;
					}

					a {
						color: #164C87;
						text-decoration-line: underline;
						text-decoration-skip-ink: none;
						text-decoration-style: solid;
						text-decoration-thickness: auto;
						text-underline-offset: auto;
						text-underline-position: from-font;
					}
				}
			}
		}
	}
}

.filter-faq-block {
	.load-more-btn {
		.loadmore-btn {
			min-width: 260px;
			@media(max-width: 747px){
				min-width: 100%;
			}
		}
	}
}

.faq-variation {
	.faqs-area {
		.faq {
			background: #FFF;
			border: transparent;
			border-radius: 10px;
			box-shadow: 0 4px 20px 0 rgba(10, 143, 143, 0.15);
			margin-bottom: 20px;

			&:last-child {

				margin-bottom: 0
			}

			@media(max-width: 991px) {
				margin-bottom: 18px;
			}

			.faq-title {
				@include font(lato, sbold);
				cursor: pointer;
				justify-content: normal;
				margin-bottom: 0;
				padding: 30px;
				position: relative;
				text-transform: none;
				transition: all 0.3s ease-in-out;

				@media(max-width: 991px) {
					padding: 24px 18px;
				}

				@media(max-width: 747px) {
					font-size: 22px;
				}

				.faq-numbers {
					@include font(lato, sbold);
					align-items: center;
					align-self: center;
					background: linear-gradient(38.19deg, #088d8d 8.71%, #3bbfc0 85.78%);
					border-radius: 50%;
					color: #FFF;
					display: flex;
					font-size: 16px;
					height: 22px;
					justify-content: center;
					line-height: 100%;
					margin-left: 12px;
					width: 22px;
				}

				.close-icon {
					margin-left: auto;
					margin-right: 0;
				}
			}

			.faq-content {
				padding: 30px 30px 30px;
				position: relative;

				@media(max-width: 991px) {
					padding: 24px 18px 24px;
				}

				&:after {
					background-color: #CCC;
					content: '';
					height: 1px;
					position: absolute;
					top: 0;
					width: calc(100% - 60px);

					@media(max-width: 991px) {
						width: auto;
						left: 18px;
						right: 18px;
					}
				}

				.content-list {
					display: flex;
					flex-wrap: wrap;
					gap: 20px;

					@media(max-width: 991px) {
						gap: 24px;
					}

					.content-col {
						flex: 1 1 calc(50% - 20px);

						@media(max-width: 991px) {
							flex: 100% 0 0;
						}

						.list-title {
							@include font(jsfn, sbold);
							color: #1A1A1A;
							letter-spacing: 0.9px;
							margin-bottom: 12px;
							text-transform: uppercase;
						}

						.list-content {
							border: 1px solid #CCC;
							border-radius: 10px;
							min-height: 167px;

							@media(max-width: 991px) {
								border: 0px;
								border-radius: 0px;
								min-height: inherit;
							}

							ul {
								margin-bottom: 0;
								padding: 20px 30px;

								@media(max-width: 991px) {
									padding: 0;
								}

								li {
									@include font(lato, sbold);
									border-bottom: 1px solid #EDEDED;
									color: #000;
									line-height: 150%;
									margin: 0 0 12px;
									padding-bottom: 12px;
									padding-left: 30px;

									.list-update {
										@include font(lato, reg);
										color: #333;

										@media(max-width: 747px) {
											display: block;
										}
									}

									&:last-child {
										border: 0;
										margin-bottom: 0;
										padding-bottom: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

section:has(.filter-faq-block):not(.page-section) {
	padding: 80px 0 120px;

	@media(max-width: 747px) {
		padding: 46px 0 64px;
	}
}

.provider-filter {
	&.variation-filter {
		gap: 20px;
		justify-content: center !important;

		@media(max-width: 747px) {
			gap: 24px;
		}

		.filter-list {
			flex: 240px 0 0;

			@media(max-width: 747px) {
				flex: 100% 0 0;
			}

			select,
			input {
				margin: 0;
				width: 100%;

				@media(max-width: 747px) {
					height: 45px;
				}

				&::input-placeholder {
					color: #1A1A1A;
					opacity: 1;
				}

				&:focus::input-placeholder {
					opacity: 1;
				}

				&::input-placeholder {
					color: #1A1A1A;
					opacity: 1;
				}

				&::placeholder {
					color: #1A1A1A;
					opacity: 1;
				}

				&:focus::placeholder {
					opacity: 1;
				}
			}

			&.input-date {
				input[type="text"] {
					background-image: url(../img/calendar-icon-black.svg);
					background-position: right 16px center;
					background-repeat: no-repeat;
				}
			}

			&.fiter-btn {
				flex: auto 0 0;

				.button {
					background: #184D88;
					box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
					margin: 0;
				}
			}
		}
	}
}
#ui-datepicker-div{
	&.closure-datepicker{
		width: 80% !important;
	    max-width: 320px !important;
	}
}
