
.ppc-logo {
	float: left;
	width: 20.3%;
	margin-right: 10%;
}

.ppc-location-content {
	float: left;
	width: 69.4%;
}

.ppc-call-btn {
	padding-top: 10px;
}

.ppc-location-content {

	h2 {
		margin-bottom: 30px;
		word-break: break-word;
    	display: inline-block;
	}

	ul li {
		margin-bottom: 12px;
	}
}
